

a.login {
    display: block;
    float: right;
    line-height:25px;
    vertical-align:middle;
}

a.login  img {
    vertical-align:middle;
    margin-left: 5px;

}

form#ajout,
form#filtre {
	width:100%;
	background-color: #E0ECF8;
	float:left;
	padding: 10px 0 10px 5px;
	margin-bottom: 20px;
}

form#ajout fieldset,
form#filtre fieldset {
	float: left;
	width:33.33%;
	margin: 0;
	padding:0;
	min-height: 160px;
	position: relative;
}

form#ajout fieldset button,
form#filtre fieldset button{
	/*MAJ DU 03/10/14*/
	/*position: absolute;
	left:0;
	bottom: 0;*/
        margin-top:20px;
	
}
form#ajout fieldset.clear {
		clear:both;
		width:99%;
		min-height: 160px;
		height: 160px;
		margin-top:10px;
}

fieldset.clear textarea{
	width:100%;
	height: 50%;
}

input.small{
	width: 40px;
}

form#connexion {
	margin: auto;
  width: 250px;
}

.justifie{
	text-align: justify;
}
td.case {
	text-align: center;
}

span.auteur{
	font-style: italic;
	
}
